*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Segoe UI",Arial,sans-serif;
}

body{
	background-color: #f2f2f2;
	height: 100vh;
}

#content{
	width: 50vh;
	height: 86vh;
	margin: 6vh auto;
}

h2{
	font-weight: normal;
	font-size: 5vh;
}

#gameContainer{
	width: 49vh;
	height: 70vh;
	border: 2px solid black;
	margin: 0px auto;
	box-sizing: content-box;
}

.squareContainer{
	width: 7vh;
	height: 7vh;
	background-color: white;
	overflow: hidden;
	float: left;
}

.squareBorder{
	width: 100%;
	height: 100%;
	border: 2px solid black;
	position: relative;
	z-index: 2;
}

.squareContent{
	width: 50%;
	height: 50%;
	margin: -75% auto;
	/*background-color: black;*/
	border-radius: 50%;
	position: relative;
	z-index: 1;
}








.squareContainerSelected{
	animation: AblackGoOutRightAway 0.5s;
}
.blackGoOut{
	animation: AblackGoOutRightAway 0.5s;
}
@-webkit-keyframes AblackGoOutRightAway {
    0% {
        background-color: rgba(24, 24, 24, 0.6);
    }
    100% {
        background-color: rgba(24, 24, 24, 0);
    }
}
.blinkBlack{
	animation: AblinkBlack 3s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes AblinkBlack {
    0% {
        background-color: rgba(24, 24, 24, 0);
    }
    50% {
        background-color: rgba(24, 24, 24, 1);
    }
    100% {
        background-color: rgba(24, 24, 24, 0);
    }
}
.turnBlack{
	animation: AturnBlack 0.5s forwards;
}
@-webkit-keyframes AturnBlack {
    0% {
        background-color: rgba(24, 24, 24, 0);
    }
    100% {
        background-color: rgba(24, 24, 24, 1);
    }
}
.removeBlack{
	animation: AremoveBlack 0.5s forwards;
}
@-webkit-keyframes AremoveBlack {
    0% {
        background-color: rgba(24, 24, 24, 1);
    }
    100% {
        background-color: rgba(24, 24, 24, 0);
    }
}
.tempBlack{
	animation: AtempBlack 1.5s forwards;
}
@-webkit-keyframes AtempBlack {
    0% {
        background-color: rgba(24, 24, 24, 0);
    }
    20% {
        background-color: rgba(24, 24, 24, 1);
    }
    80% {
        background-color: rgba(24, 24, 24, 1);
    }
    100% {
        background-color: rgba(24, 24, 24, 0);
    }
}